<p>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        
        
        <div class="carousel-item  active" data-bs-interval="2000">
          <img style="height: 400px ;"  src="assets/image/ot.jpg" class="d-block w-100" alt="...">
        </div>
       
        <div class="carousel-item" data-bs-interval="2000">
          <img style="height: 400px ;"  src="assets/image/hj.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img style="height: 400px ;"  src="assets/image/iot.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img style="height: 400px ;"  src="assets/image/ot2.jpg" class="d-block w-100" alt="...">
          </div>
       
        
      
    
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card">
      <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
      <div class="scalein animation-duration-2000 animation-iteration-infinite flex align-items-center justify-content-center
       font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">IOT</div>
     </div>
     </div >
     <div class="line-height-4 w-10" class="container">
     <p class="line-height-4 w-10">
       <h3 class=" bg-blue-200">discription</h3>
      <p>🔰Internet des objets (IoT) est une composante majeure de la transformation digitale. À
        travers l'IoT, on recherche le potentiel des nouvelles technologies du monde numérique et
        leurs impacts dans l'amélioration du monde réel. L'IoT permet de proposer des services dans
        de nombreux secteurs comme la e-Health, la surveillance, la traçabilité, l'automatisation des
        chaînes de production et bien d'autres domaines où l'innovation technologique est très
        prometteuse. </p>
        
        <h3 class=" bg-blue-200">objectif</h3>
        <p>
          ✅ Cette formation vous permettra de comprendre l'architecture typique d'un réseau
        IoT et de mettre en place une chaîne IoT complète, depuis la remontée d'informations émises
        par des capteurs connectés LPWAN jusqu'à la Data Visualisation en passant par la collecte
        Cloud/Big Data.</p>
    </div>
    
     <div  class="line-height-4 ">
       <div class="container">
       <h3 class=" bg-blue-200" >programme</h3>
    <ul  class="container" >
        
        <li>Concepts des bases IoT</li>
        <li>M2M standardisation et architecture de référence (haut niveau).</li>
        <li>Dimensions de l’IoT, architectures et standardisation.</li>
        <li>Technologie IoT.</li>
        <li>Comparaison des technologies utilisées dans les réseaux de capteurs (Zigbee,
            6LowPAN, Technologies propriétaires...).</li>
        <li> Mise en œuvre de protocoles au niveau liaison (IEEE 8012.15.4, LPWAN et LoRa
            WAN, IPv6 et 6LoWPAN).</li>
        <li>Mise en œuvre de protocoles et d’environnements d’intermédiation au niveau réseau
            tel que RESET/CoAP et les plateformes M2M/ IoT</li>
        <li>Notions de base Linux / Notions de base python sous linux Communication Python et
            Cloud.</li>
        
    </ul>
    
     </div>
    <div  class="container" >
 
    <p>Simulation d'un réseau de capteurs sans fils et mise en place des

        notions de web of Things et cloud.</p>
    
       
        <div class="line-height-4 ">   
        <ul>
         <li> Système d’exploitation adapté à l’IoT (Linux, Raspbian, win10 IoT).</li>
         


     </ul>
        </div>
    
        <ul>
            <li>Définition de Cloud Computing</li>
            <li>Notions de NoSQL</li>
            <li>Architectures Cloud</li>
            <li>Architectures Cloud</li>
            <li>Firebase/Ubidots.</li>

        </ul>
       

  <ul>
      <li>Les objets Connectés.</li>
      <li>Equipements nécessaires pour création une solution IoT.</li>
      <li>Prototypage</li>



  </ul>

  <p>Création d’un système IoT basé sur Cloud et système embarqué

    avec un Dashboard en temps réel.</p>

    </div>


</div>
<div>















  <div   class="container">
    <h3    class="bg-blue-200">modalites pedagogiques</h3>
    <p>100% pratiques </p>
    <p>formation synchrones incluant l'acces aux supports de cours</p>
    
    <h3    class="bg-blue-200">lieu et horaires</h3>
    <h3>lieu</h3><p>en classe a distance (connexion via internet) ou dans notre societe</p>
    <h3>horaires</h3><p>flexible</p>
    
    </div>
    <html>
      <head>
      <style>
      div.gallery {
        border: 1px solid rgb(15, 15, 15);
      }
      
      div.gallery:hover {
        border: 1px solid rgb(10, 10, 10);
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .responsive {
        padding: 0 10px;
        float: left;
        width: 32.99999%;
      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 20.99999%;
          margin: 30px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 80%;
        }
      }
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
      </style>
      </head>
      <body>
        <div    style="margin-top: 30px;">
      <div style="margin-bottom: 30px;">
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
              <img   src="assets/image/23.jpg" alt="Mountains" >
            </a>
            <div class="desc">commencer d'apprender iot</div>
          </div>
        </div>
      <div class="responsive">
        <div  class="gallery">
          <a target="_blank" href="img_5terre.jpg">
            <img  src="assets/image/27.jpg" alt="Cinque Terre" width="400" height="200">
          </a>
          <div class="desc">smart ways innovation offre des formations</div>
        </div>
      </div>
      
     
      
      <div class="responsive">
        <div class="gallery"  >
          <a target="_blank" href="img_lights.jpg">
            <img src="assets/image/25.png"  alt="Northern Lights">
          </a>
          <div class="desc"> creation d'un projet </div>
          <div class="desc"> #smart ways innovation cle de SUCCES</div>
        </div>
      </div>
      
     
      
      <div class="clearfix"></div>
      
      <div style="padding:6px;">
       
      </div>
    </div>
        </div>
      </body>
      </html>

      <section>
        <div class="footer bg-bluegray-200 border-gray-1000">
            <footer >
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 item">
                          <h1></h1>
                            <img     style height="200" width="200" src="assets/image/kl.jpg">
                        </div>
                      
        
        
                        <div  style="padding-top: 40px;"    class="col-md-3 item">
                          <h2 style="color:rgb(122, 13, 13)" [routerLink]="['/project']"  >Services</h2>                         <h2 [routerLink]="['/page3']"  style="color:rgb(134, 15, 15)"  >contact-nous</h2>
                      </div>
                      <div class="col-md-3 item">
                          <h2>contact</h2>
        
                          <h5  ><span style="color:rgb(49, 18, 184)"> 📞telephone:</span> 20406511 </h5>
                          <h5 > <span  style="color:rgb(21, 19, 187)"> fb:</span> Smart-Ways </h5>
                          <h5  > <span style="color:rgb(49, 8, 161)"> 📧email:</span> contact@smartways-innovation.com</h5>
                          <h5> <span style="color:rgb(49, 41, 224)"><img src="assets/image/kl.png">linkedin:</span> Smart Ways Innovation</h5>
                          <h5 ><span style="color:rgb(49, 25, 209)">adresse:</span>
                             Sokra Km 3.5 - La Pépinière d'entreprises Sfax Innovation 1 - Ecole Nationale d'ingénieurs de SFAX 3052 Sfax, Tunisie
                            </h5>
        
        
                      </div>
                      
                   
        
                    </div>
                </div>
                </footer>
        </div>
      </section>
      






























        
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">IOT</div>
        <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">develloppement mobile</div>
        <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">developpement web</div>
    </div>
  </div>
