
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      
      <div class="carousel-item  active" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/dev mobile.jpg" class="d-block w-100" alt="...">
      </div>
     
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/ddm.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/devm.jpg" class="d-block w-100" alt="...">
      </div>
     
      
    
  
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
    <div class="scalein animation-duration-2000 animation-iteration-infinite flex align-items-center justify-content-center
     font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">developpement mobile</div>
   </div>
   </div>
   <div class="container">
   <h3 class=" bg-blue-200">description</h3>
   <section style="padding-left: 50px;"> 🔰 Développer avec le cloud une application Android   dotée d'un espace de stockage de
    données backend, d'une synchronisation en temps réel et d'une journalisation des événements
    utilisateur.</section>
    
</div>
<div class="container">
<h3 class=" bg-blue-200">objectif</h3>
<p> 
  ✅ capable de créer votre application android 📱 , compatible et adaptable à vos projets personnels ou collectifs.</p>



</div>





<div class="container">
<h3 class=" bg-blue-200">programme</h3>
   
    <div class="line-height-4 ">
   <ul class="line-height-4 w-10" class="container" >
 
     <li class="container">Les rôles de fichier "AndroidManifes.xml"</li>
     <li class="container">Java (les class à utiliser).</li>
     <li class="container">RES (drawbale, Layout, mipmap, values).</li>
      <li class="container">Les autres fichiers (strings.xml, colors.xml...).</li>

     <li class="container">Gradle Scripts (build.gradle (Project), build.gradle (Module:App)).</li>
   
     <li class="container">Intégrer le Cloud dans l'application <mark>Android par deux méthodes.</mark> </li>
     <li class="container"><mark>Les bases XML</mark> pour créer graphiquement les interfaces de l'application.</li>
     <li class="container">Authentification les utilisateurs avec Adresse mail et le mot de passe.</li>
     <li class="container">Stockage des données en temps réel via<mark> JSON.</mark></li>
     <li class="container">Récupérer et afficher les données dans <mark> Dashboard dynamique </mark>en temps réel.</li>

        </ul>
       </div>

    
    </div>
</div>

<i class="bi bi-linkedin"></i>

<div   class="container">
  <h3    class="bg-blue-200">modalites pedagogiques</h3>
  <p>100% pratiques </p>
  <p>formation synchrones incluant l'acces aux supports de cours</p>
  
  <h3    class="bg-blue-200">lieu et horaires</h3>
  <h3>lieu:</h3><p>en classe a distance (connexion via internet) ou dans notre societe</p>
  <h3>horaires:</h3><p>flexible </p>
  
  </div>

  <html>
        <head>
        <style>
        div.gallery {
          border: 2px solid rgb(7, 7, 7);
        }
        
        div.gallery:hover {
          border: 2px solid rgb(8, 7, 7);
        }
        
        div.gallery img {
          width: 100%;
          height: auto;
        }
        
        div.desc {
          padding: 15px;
          text-align: center;
        }
        
        * {
          box-sizing: border-box;
        }
        
        .responsive {
          padding: 0 6px;
          float: left;
          width: 32.99999%;
        }
        
        @media only screen and (max-width: 700px) {
          .responsive {
            width: 49.99999%;
            margin: 6px 0;
          }
        }
        
        @media only screen and (max-width: 500px) {
          .responsive {
            width: 100%;
          }
        }
        
        .clearfix:after {
          content: "";
          display: table;
          clear: both;
        }
        </style>
        </head>
        <body>
        
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="img_mountains.jpg">
                <img src="assets/image/0.jpg" alt="Mountains" width="600" height="400">
              </a>
              <h5>
              <div class="desc">commencer d'apprender developpement mobile</div>
            </h5>
           
            </div>
          </div>
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
              <img src="assets/image/7.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <h5>
            <div class="desc">smart ways innovation offre des formations</div>
          </h5>
          </div>
        </div>
        
        
        
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
              <img src="assets/image/19.jpg" alt="Northern Lights" width="600" height="400">
            </a>
            <h5>
            <div class="desc"> #smart ways innovation cle de SUCCES</div>
          </h5>
          </div>
        </div>
        
       
        
        <div class="clearfix"></div>
        
        <div style="padding:6px;">
         
        </div>
        
        </body>
        </html>































<section>
  <div class="footer bg-blue-100 border-gray-400">
      <footer >
          <div class="container">
              <div class="row">
                  <div class="col-md-3 item">
                    <h1></h1>
                      <img style height="200" width="200" src="assets/image/kl.jpg">
                  </div>
                
  
  
                 
                  <div  style="padding-top: 40px;"    class="col-md-3 item">
                    <h3 style="color:rgb(129, 25, 25)" [routerLink]="['/project']"  >Services</h3>
                   <h3 [routerLink]="['/test']"  style="color:rgb(104, 19, 19)"  >contactez-nous</h3>
                </div>
                <div class="col-md-3 item">
                    <h2>contact</h2>
  
                    <h3  ><span style="color:rgb(36, 59, 189)"> 📞telephone:</span> 20406511 </h3>
                    <h3> <span style="color:rgb(36, 59, 189)">fb:</span> Smart-Ways</h3>
                    <h3 > <span style="color:rgb(46, 22, 182)"> 📧email:</span> contact@smartways-innovation.com</h3>
                    <h3> <span style="color:rgb(51, 35, 197)"><img src="assets/image/kl.png">linkedin:</span> Smart Ways Innovation</h3>
                    <h3 ><span style="color:rgb(21, 24, 180)">adresse:</span>
                       Sokra Km 3.5 - La Pépinière d'entreprises Sfax Innovation 1 - Ecole Nationale d'ingénieurs de SFAX 3052 Sfax, Tunisie
                      </h3>
  
  
                </div>
                
            
              </div>
  
  
          </div>
      </footer>  
           
          
         
  
  
    
  
  
  
  </div>
  </section>




















   
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">IOT</div>
        <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">develloppement mobile</div>
        <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">developpement web</div>
    </div>
  </div>
  
