
   <i class="bi bi-linkedin"></i>

   <div class="footer bg-blue-800">
       <footer>
           <div class="container">
               <div class="row">
                   <div class="col-md-3 item">
                       <h3>Services</h3>
                       <ul >
                           <li ><a style="color:white" href="#">formations</a></li>
                           <li><a style="color:white" href="#">projets</a></li>
                           <li><a  style="color:white"href="#">stage</a></li>
                       </ul>
                   </div>
                   <div class="col-md-3 item">
                       <h3>Services</h3>
                       <ul>
                           <li><a href="#">Web design</a></li>
                           <li><a href="#">Development</a></li>
                           <li><a href="#">Hosting</a></li>
                       </ul>
                   </div>
                   <div class="col-md-3 item">
                       <h2>contact</h2>
   
                       <h5  ><span style="color:coral"> telephone:</span> 20406511 </h5>
                       <h5 > <span  style="color:coral"> fb:</span> Smart-Ways </h5>
                       <h5  > <span style="color:coral"> email:</span> contact@smartways-innovation.com</h5>
                       <h5> <span style="color:coral">linkdin:</span> Smart Ways Innovation</h5>
                       <h5 ><span style="color:coral">adresse:</span>
                          Sokra Km 3.5 - La Pépinière d'entreprises Sfax Innovation 1 - Ecole Nationale d'ingénieurs de SFAX 3052 Sfax, Tunisie
                         </h5>
   
   
                   </div>
                   <div class="col-md-3 item text">
                       <h3></h3>
                       <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus.</p>
                   </div>
                   
               </div>
               <p class="copyright">Bootstrap.com © 2020</p>
            
   <div class="p-d-flex p-ai-center">
      
     
   </div>
           </div>
       </footer>
   </div>