
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      
      <div class="carousel-item  active" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/aii.jpg" class="d-block w-100" alt="...">
      </div>
     
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/aiii.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/IAA.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
 
   <div>
   
   <div style="padding-top:20px;"  class="container">
      <h3 class=" bg-blue-200">description</h3>
      
      <section>
      <p >🔰 Vous voulez savoir théoriquement et pratiquement l'intelligence artificielle, machine Learning, Deep Learning. </p>
        <p>🔰 Ajoutez des compétences précieuses en analyse de données et en apprentissage approfondi à votre CV.</p>
      <div class="container">
  
      </div>
        
     
       
         
         
      
       
      </section>
      <div class="container">
      
      
      <h3 class=" bg-blue-200"  >Objectifs</h3>


   </div>  
      <ul> 
        ✅ Au cours de ce parcours, vous allez apprendre plusieurs technologies qui vous aideront à créer vos propres modèles en utilisant python et IA se devez avec les bibliothèques nécessaires comme Tensorflow, keras et les mots techniques du domaine et  créez votre jeu à partir de zéro

      </ul>
      <div class="container">
      <h3 class=" bg-blue-200"  >Programme</h3>

   <p style="color:blue"> L'intelligence artificielle</p>
   <div>
   <div class="line-height-4 ">
 <ul>
  <li> C'est quoi l'Intelligence Artificielle (IA)</li>
  <li> Historique</li>
  <li> Utilité d'Intelligence Artificielle (IA)</li>
  <li> Types d'IA</li>
  <li>Les domaines d'application d'IA</li>


</ul>
</div>

<ul>

<li>Définition  Machine Learning</li>
<li> Différence entre IA et Machine Learning (ML)</li>
 <li>Les domaines d'application d'IA</li>
<li> les types de ML (Supervisé, non supervisé et renforcé) et ses catégories
 (Régression, classification, regroupement, associations).</li>
 <li> Le fonctionnement du ML</li>
  <li>Les processus du ML</li>

</ul>

<ul>
  <li> Définition de deep learning</li> 
  <li>Différence entre Intelligence Artificielle, Machine Learning et Deep Learning.</li>
  <li>L'invention du Deep Learning</li>
    <li>C'est quoi un réseau de neurones</li>
    <li>les types des réseaux de neurones (Perceptron, mlp, CNN, RNN)</li>
    <li>Définitions des nouveaux domaines « NLP, Deep fake... »</li>









</ul>




   </div>
  </div>
      </div>
    </div>




</div>
<div   class="container">
<h3    class="bg-blue-200">modalites pedagogiques</h3>
<p>100% pratiques </p>
<p>formation synchrones incluant l'acces aux supports de cours</p>

<h3    class="bg-blue-200">lieu et horaires</h3>
<h3>lieu</h3><p>en classe a distance (conxion via internet) ou dans notre societe</p>
<h3>⏳horaires</h3><p>flexible</p>

</div>

  
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>

<div class="card">
<div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
<div class="scalein animation-duration-2000 animation-iteration-infinite flex align-items-center justify-content-center
 font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">Intelligence artificille</div>
</div>
</div>

<section>
  <div class="footer bg-bluegray-300 border-gray-400">
      <footer >
          <div class="container">
              <div class="row">
                  <div class="col-md-3 item">
                    <h1></h1>
                      <img style height="300" width="250" src="assets/image/kl.jpg">
                  </div>
                
  
  
                  <div  style="padding-top: 40px;"    class="col-md-3 item">
                    <h2 style="color:rgb(92, 14, 9)" [routerLink]="['/project']"  >Services</h2>
                   <h2 [routerLink]="['/test']"  style="color:rgb(126, 27, 2)"  >contactez-nous</h2>
                </div>
                <div class="col-md-3 item">
                    <h2>contact</h2>
  
                    <h2  ><span style="color:#0a0463"> 📞telephone:</span> 20406511 </h2>
                    <h2 > <span  style="color:rgb(10, 8, 114)"> fb:</span> Smart-Ways </h2>
                    <h2  > <span style="color:rgb(7, 21, 148)"> 📧email:</span> contact@smartways-innovation.com</h2>
                    <h2> <span style="color:rgb(5, 25, 138)"><img src="assets/image/kl.png">linkedin:</span> Smart Ways Innovation</h2>
                    <h2 ><span style="color:rgb(6, 18, 190)">adresse:</span>
                       Sokra Km 3.5 - La Pépinière d'entreprises Sfax Innovation 1 - Ecole Nationale d'ingénieurs de SFAX 3052 Sfax, Tunisie
                      </h2>
  
  
                </div>
                
             
  
              </div>
          </div>
          </footer>
  </div>
</section>





                