<nav class="navbar navbar-light bg-">
    <!-- Navbar content -->
  </nav>
    <nav>
      <div  class="container-fluid" class="navbar navbar-expand-lg navbar-light bg-gray-100" >
        <a  class="navbar-brand" href="https://www.linkedin.com/company/smart-ways-innovation/"><img src='assets/image/tt.jpg'/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div      class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
           
            <li class="nav-item">
              <a class="nav-link active"   style="color: rgb(5, 5, 5);"  aria-current="page" style="padding-top:40px ;"  [routerLink]="['/page2']" > <p >Accueil</p></a>
            </li>
            <li class="nav-item">
              <a   class="nav-link active"  style="color: rgb(5, 5, 5);"     [routerLink]="['/page']"  href="file:///C:/aam/news.html#carouselExampleCaptions"  style="padding-top:40px ;"><p>apropos</p></a>
            </li>
            
          
            <li   class="nav-item dropdown  ">
              <a  class="nav-link active"  style="color: rgb(1, 1, 5);"    [routerLink]="['/projet-']" href="#" id="navbarDropdown" role="button"  data-bs-toggle="dropdown" aria-expanded="false" style="padding-top:40px ;">
                <p>services</p></a>
          
             
            </li>
            <li class="nav-item">
              <a   class="nav-link active"  style="color: rgb(5, 5, 5);"     [routerLink]="['/page3']"  href="file:///C:/aam/news.html#carouselExampleCaptions"  style="padding-top:40px ;"><p>contact-nous</p></a>
            </li>
            
     
            
        </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="recherche" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">recherche</button>
          
          </form>
        </div> 
  
        </div>
   
     
        <nav   style="padding-top: 1px;" class="navbar fixed-top navbar-light bg-blue-900">
            <div style="margin-left: 1000px;" class="navbar navbar-expand-lg navbar-light bg-dark" class="container-fluid">
              <a  style=color:red  href="https://www.facebook.com/Smart.ways.innovations"> <h5 >smart ways innovation</h5></a>
            </div>
          </nav>





<div class="grid grid-nogutter surface-0 text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="containeur"  class="block text-6xl font-bold mb-1"  >smart ways innovation</span>
            <div class="text-6xl text-primary font-bold mb-3">bienvenue</div>
            <p class="mt-0 mb-4 text-700 line-height-3"> <mark>samrt ways innouvation</mark>  se veut être une plateforme éducative  qui aide les talents de demain à améliorer leurs compétences numériques par le biais de formations abordables et de qualité et de l’assistance des meilleurs instructeurs</p>
            
            
            <button pButton pRipple label="register" [routerLink]="['/page3']"  type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="login "  [routerLink]="['/page10']"   type="button" class="p-button-outlined"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/image/el.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

<div class="container">
<h2 class="text-center" style="color:darkblue" style="margin-top: 40px;">smart ways innovation</h2>
<h6 style="margin-top: 20px;">‘Smart Ways Innovation’ est une société multi-services spécialisée dans le domaine informatique, avec la volonté d'offrir un service personnalisé basé sur la disponibilité, la compétence et la confiance.</h6>
</div>
<div class="rows">
<div class="justify" class="container" class="col-3">
 <div class="flex-container">
    <div class="box"><a [routerLink]="['/page6']" routerLinkActive="router-link-active" ><img style width="300px"  style height="80px"    src="assets/image/lgoooo.jpg"><h3>L'Internet des objets (IoT)</h3></a> est une composante majeure de la transformation digitale. À
    travers l'IoT, on recherche le potentiel des nouvelles technologies du monde numérique et
    leurs impacts dans l'amélioration du monde réel. L'IoT permet de proposer des services dans
    de nombreux secteurs.
     </div>
  
      <div class="box"> <a [routerLink]="['/page7']" routerLinkActive="router-link-active" ><img   style width="337px"  style height="80px"  src="assets/image/logo1.png">
  <h3>Le développement mobile</h3></a> est un phénomène qui a pris beaucoup
   d'ampleur en quelques années. Pour les entreprises,
    suivre cette tendance est important puisqu'elle leur 
    permet de créer des services innovants ou encore d'améliorer leur communication.
     </div>
  
  
      <div class="box" ><a [routerLink]="['/page9']" routerLinkActive="router-link-active" ><img   style width="337px"  style height="80px"   src="assets/image/im.png">
    <h3>Le développement web </h3></a>c’est l’ensemble de toutes 
    les activités rattachées à la création et au développement
     d’un site internet. Ces tâches nécessitent la maîtrise
      du codage ainsi que l’usage des langages de programmation
       web et englobent la conception 
    de toutes sortes de sites ou web apps.
   </div>
 

   <div  class="box"><a [routerLink]="['/page1']" routerLinkActive="router-link-active" ><img style height="80px" style size width="330px"  src="assets/image/hy.jpg">
    <h3>L'intelligence artificielle</h3> </a>
       est la base de tout apprentissage par un ordinateur et 
       représente l'avenir des processus décisionnels complexes.
        ... Les ordinateurs sont capables de calculer ces 
        combinaisons et les meilleures permutations possibles 
        très efficacement, afin de prendre la bonne décision.
      </div>


     </div>
  </div>
</div>

         
 








  
  <div class="card">
  <div class="flex flex-wrap align-items-center justify-content-center card-container bg-white">
      <div class="fadeinleft animation-duration-1000 animation-iteration-infinite flex align-items-center justify-content-center
       font-bold bg-blue-900 text-white border-round m-2 px-5 py-3">contacter-nous
      </div>
  </div>
  </div>

  <section>
  
    
 

   
   

    <footer >
    

        
          <div class="row">
            <div class="col-md-3 item">
              <h1></h1>
               
            </div>
          


            <div  style="padding-left: 950px"; style="padding-top: 40px;"    >
              <h5 style="color:rgb(122, 13, 13)" [routerLink]="['/projet']"  >Services</h5>
             <h5 [routerLink]="['/page3']"   style="color:rgb(134, 15, 15);padding-right: 40px;"  >contact-nous</h5>
          </div>
          <div  style="padding-left:1000px"; class="col-md-3 item">
                  <h2>contact</h2>
             
                  <h5  ><span style="color:rgb(67, 16, 207)"> telephone:</span> 20406511 </h5>
                  <h5 > <span  style="color:rgb(23, 20, 194)"> fb:</span> Smart-Ways </h5>
                  <h5  > <span style="color:rgb(58, 27, 170)"> email:</span> contact@smartways-innovation.com</h5>
                  <h5> <span style="color:rgb(52, 28, 190)">linkedin:</span> Smart Ways Innovation</h5>
                  <h5 ><span style="color:rgb(67, 31, 197)">adresse:</span>
                     Sokra Km 3.5 - La Pépinière d'entreprises Sfax Innovation 1 - Ecole Nationale d'ingénieurs de SFAX 3052 Sfax, Tunisie
                    </h5>


              </div>
              
          </div>

         
      
      </footer>  
   
     



  





  
