
<h2 class="text-center " style="color:blue;margin-top:40px"> Qui somme nous ??</h2><br><br><br>
<div  class="row" style="padding-top: 20px;" style="padding-right: 0px;" >
  <div class="col col-6" >
     <img style="text-align: left;"  height="400px"   width="550px" src="assets/image/pj.jpg">
    </div>
    <div class="col col-6">
  <p style="text-align:right;margin-right: 85px;margin-top:150px;">Samrt Ways Innovation est une agence qui actualise ses compétences en permanence pour faire bénéficier ses clients des dernières technologies Internet🌐. en se positionnant non pas comme un simple acteur dans le projet mais en tant que partenaire qui saura être force de propositions et <br>d'innovations</p>.
 <h3  class="text-secondary">#Innovation
  #Web
 #Smart_Ways_Innovation</h3>
  </div>
</div>
    <div class="text-center " style="margin-top:40px">

    
<h3 class="text-primary">Vous voulez suivre les technologies, être à la page et avoir l’occasion de s’épanouir sur de nouvelles notions ?</h3>
<h3 class="text-primary">Vous êtes à la recherche d’une proposition/ encadrement de projet ?</h3>

<h3 >"Smart Ways Innovation" met à votre disposition une diversité de projets innovants touchant plusieurs domaines tels que:<br><span class="text-secondary">  IoT, intelligence artificielle, Big Data, Cloud Computing, développement IT,</span>...</h3>
----------------------------------
<p>Le projet sera validé par un prototype</p>
----------------------------------
<p>⏳Durée du projet: 2-3 mois</p>
</div>
      
   
 


      

 





<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      
      <div class="carousel-item  active" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/c2.PNG" class="d-block w-100" alt="...">
      </div>
     
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/c1.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/c3.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/c56.PNG" class="d-block w-100" alt="...">
      </div>
      
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/c7.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/c910.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/Capture6.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/2222.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/c15.PNG" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/f.PNG" class="d-block w-100" alt="...">
      </div>


      <img src='assets/image/th.jpg' alt='th'/>




  
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




 