
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      
      <div class="carousel-item  active" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/dev web.jpg" class="d-block w-100" alt="...">
      </div>
     
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/hayy.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1700">
        <img style="height: 400px ;"  src="assets/image/14.jpg" class="d-block w-100" alt="...">
      </div>
     
      
    
  
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
   
  
  <div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
    <div class="scalein animation-duration-2000 animation-iteration-infinite flex align-items-center justify-content-center
     font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">développement WEB</div>
   </div>
   </div>
  
  <div class="hk">   <div class="container">
    <h3 class=" bg-blue-200">description</h3>
    <section style="padding-left: 50px;">🔰 C'est le programme intensif 100% En ligne En développement WEB Avec Le Framework Angular et la plateforme Google Firebase Cloud
     .</section>
     
 </div>
 <div class="container">
 <h3 class=" bg-blue-200">objectif</h3>
 <p> 
   
  ✅ Au cours de ce parcours, vous allez apprendre plusieurs technologies qui vous aideront à créer votre propre Application web 
</p>
<p> ✅ Ensemble, nous allons créer étape par étape une application web avec La Plateforme  Google Firebase Cloud</p>


 
 
 
 </div>
 
 
 
 
 
 <div class="container">
 <h3 class=" bg-blue-200">programme</h3>
     
       <ul  >
         <li class="container">Introduction sur le Framework Angular</li>
          <li class="container">Créer un projet Angular</li>
          <li class="container">Architecture de projet angular</li>
          <li class="container">Ajouter le Framework Bootstrap et Primeng Angular</li>
           <li class="container">Comprendre quelques concepts (components, routing, directives, forms..)</li>
  
          <li class="container">Créer un projet Firebase</li>
           <li class="container">Installer Firebase sur le projet angular</li>
           <li class="container">Authentification Angular & Firebase</li>
            <li class="container">Angular CRUD avec Firebase</li>
  
             </ul>
          
             
    </div>
    <div   class="container">
      <h3    class="bg-blue-200">modalites pedagogiques</h3>
      <p>100% pratiques </p>
      <p>formation synchrones incluant l'acces aux supports de cours</p>
      
      <h3    class="bg-blue-200">lieu et horaires</h3>
      <h3 style="color:rgb(114, 15, 15)">lieu:</h3><p>en classe a distance (connexion via internet) ou dans notre societe</p>
      <h3 style="color:rgb(114, 15, 15)">horaires:</h3><p>flexible</p>
      
      </div>


      <html>
        <head>
        <style>
        div.gallery {
          border: 2px solid rgb(7, 7, 7);
          padding-bottom: 0px;
        }
        
        div.gallery:hover {
          border: 2px solid rgb(12, 11, 11);
        }
        
        div.gallery img {
          width: 100%;
          height:250px
        }
        
        div.desc {
          padding: 15px;
          text-align: center;
        }
        
       
        .responsive {
          padding: 0 0px;
          float: left;
          width: 31.99999%;
        }
        
       
        
        
        
        
        </style>
        </head>
        <body>
        
         
        <div style="padding-left: 30px;"  class="responsive">
          <div   class="gallery">
            <a target="_blank" href="img_5terre.jpg">
              <img  style="margin-bottom: 10px;" src="assets/image/11.jpg" alt="Cinque Terre" width="400" height="200">
            </a>
            <div class="desc">smart ways innovation offre formation de framework angular</div>
          </div>
        </div>
        
        
        <div style="padding-left: 70px;" class="responsive">
          <div class="gallery">
            <a target="_blank" href="img_forest.jpg">
              <img style="margin-bottom: 10px;"  src="assets/image/4.jpg" alt="Forest" width="400" height="200">
            </a>
            <div class="desc">formation angular en ligne </div>
          </div>
        </div>
        
        <div style="padding-left: 100px;" class="responsive">
          <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
              <img style="margin-bottom: 10px;"  src="assets/image/5.jpg" alt="Northern Lights" width="400" height="200">
            </a>
           
            <div class="desc"> #smart ways innovation cle de SUCCES</div>
          </div>
        </div>
        
       
        
        <div class="clearfix"></div>
        
       
        
        </body>
        </html>



        <section>
          <div class="footer bg-blue-100 border-gray-400">
              <footer >
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3 item">
                            <h1></h1>
                              <img style height="200" width="200" src="assets/image/kl.jpg">
                          </div>
                        
          
          
                          <div  style="padding-top: 40px;"    class="col-md-3 item">
                            <h2 style="color:rgb(114, 15, 15)" [routerLink]="['/project']"  >Services</h2>
                           <h2 [routerLink]="['/test']"  style="color:rgb(87, 13, 13)"  >contact-nous</h2>
                        </div>
                        <div class="col-md-3 item">
                            <h2>contact</h2>
          
                            <h3 ><span style="color:rgb(38, 28, 182)"> 📞telephone:</span> 20406511 </h3>
                            <h3 > <span  style="color:rgb(37, 34, 190)"> fb:</span> Smart-Ways </h3>
                            <h3 > <span style="color:rgb(55, 26, 184)"> 📧email:</span> contact@smartways-innovation.com</h3>
                            <h3> <span style="color:rgb(58, 26, 177)"><img src="assets/image/kl.png">linkedin:</span> Smart Ways Innovation</h3>
                            <h3 ><span style="color:rgb(63, 19, 168)">adresse:</span>
                               Sokra Km 3.5 - La Pépinière d'entreprises Sfax Innovation 1 - Ecole Nationale d'ingénieurs de SFAX 3052 Sfax, Tunisie
                              </h3>
          
          
                        </div>
                        
                    
                      </div>
          
          
                  </div>
              </footer>  
                   
                  
                 
          
          
            
          
          
          
          </div>
          </section>




























    
        
  <div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">IOT</div>
        <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">develloppement mobile</div>
        <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">developpement web</div>
    </div>
  </div>
  




  